<div class="card employee-card">
    <div class="card-header bg-dark text-white">
        <h3>${engineer.name}</h3>
        <h5>${engineer.getRole()}</h5>
    </div>
    <div class="card-body">
        <ul class="list-group">
            <li class="list-group-item" style="font-size: 14px;">ID: ${engineer.id}</li>
            <li class="list-group-item" style="font-size: 14px;">Email: <a href="${engineer.email}"> ${engineer.email}</a></li>
            <li class="list-group-item" style="font-size: 14px;">GitHub: <a href="https://github.com/${engineer.github}" target="_blank" rel="noopener noreferrer">${engineer.github}</a></li>        </ul>
    </div>
</div>
