<!-- Intern Template with template literals -->

<div class="card m-3 " style="width: 20rem;">
    <div class="card-header text-white bg-info">
        <h2 class="card-title">${intern.name}</h2>
        <h3 class="card-title"><i class="fas fa-user-graduate mr-2"></i>${intern.getRole()}</h3>

    </div>
    <div class="card-body bg-light text-dark">
        <ul class="list-group">
            <li class="list-group-item" style="font-size: 14px;">ID: ${intern.id}</li>
            <li class="list-group-item" style="font-size: 14px;">Email: <a href="${intern.email}"> ${intern.email}</a></li>
            <li class="list-group-item" style="font-size: 14px;">School: ${intern.school}</li>
        </ul>
    </div>
</div>