<div class="card m-3 " style="width: 20rem;">
    <div class="card-header text-white bg-primary">
        <h3>${manager.name}</h3>
        <h5>${manager.getRole()}</h5>
    </div>
    <div class="card-body bg-light text-dark">
        <ul class="list-group">
            <li class="list-group-item" style="font-size: 14px;">ID: ${manager.id}</li>
            <li class="list-group-item" style="font-size: 14px;">Email: ${manager.email}</li>
            <li class="list-group-item" style="font-size: 14px;">Office Number: ${manager.officeNumber}</li>
        </ul>
    </div>
</div>