<div class="card m-3 " style="width: 20rem;">
    <div class="card-header text-white bg-secondary">
        <h2 class="card-title">${manager.name}</h2>
        <h3 class="card-title"><i class="fas fa-mug-hot mr-2"></i>${manager.getRole()}</h3>
     
    </div>
    <div class="card-body bg-light text-dark">
        <ul class="list-group">
            <li class="list-group-item" style="font-size: 14px;">ID: ${manager.id}</li>
            <li class="list-group-item" style="font-size: 14px;">Email: <a href="${manager.email}"> ${manager.email}</a></li>
            <li class="list-group-item" style="font-size: 14px;">Office Number: ${manager.officeNumber}</li>
        </ul>
    </div>
</div>